@using BlazorTemplateApp.Pages.ObjectExample
@using BlazorTemplateApp.Pages.Tasks
@using BlazorTemplateApp.Pages.ThreadsWithBlock
@using BlazorTemplateApp.Pages.TaskException
@using BlazorTemplateApp.Pages.TestConsole

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">H2 WebPage</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>
                <span class="nav-item-text">Home</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@TestConsole.NavigateMe()">
                <span class="oi oi-plus" aria-hidden="true"></span>
                <span class="nav-item-text">@TestConsole.PageName()</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@ObjectExample.NavigateMe()">
                <span class="oi oi-plus" aria-hidden="true"></span>
                <span class="nav-item-text">@ObjectExample.PageName()</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Tasks.NavigateMe()">
                <span class="oi oi-plus" aria-hidden="true"></span>
                <span class="nav-item-text">@Tasks.PageName()</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@ThreadsWithBlock.NavigateMe()">
                <span class="oi oi-plus" aria-hidden="true"></span>
                <span class="nav-item-text">@ThreadsWithBlock.PageName()</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@TaskException.NavigateMe()">
                <span class="oi oi-plus" aria-hidden="true"></span>
                <span class="nav-item-text">@TaskException.PageName()</span>
            </NavLink>
        </div>
    </nav>
</div>

<style>
    .nav-item-text{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
</style>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
